<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats of Cyprus</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <h1>Cat of cyprus</h1>
    <ul class="menu">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="paphos/index.html">Paphos</a></li>
        <li><a href="limassol/index.html">Limassol</a></li>
        <li><a href="larnaka/index.html">Larnaka</a></li>
    </ul>
</body>
</html>