<%- include('../../shared/includes/head', { pageTitle: 'Your Cart' }) %>
<link rel="stylesheet" href="/styles/cart.css">
</head>
<body>
<%- include('../../shared/includes/header') %>
<main>
    <h1>Your Cart</h1>
    <ul id="cart-items">
        <li>
            <article class="cart-item">
                <div class="cart-item-info">
                    <h2>TITLE</h2>
                    <P>TOTAL PRICE (PRICE FOR A SINGLE PRODUCT)</P>
                </div>

                <div>
                    <input type="number" required>
                    <button class="btn btn-alt">Update</button>
                </div>
            </article>
        </li>
    </ul>
    <div id="cart-total">
        <p>Total: $</p>

        <button class="btn">Buy Products</button>
    </div>
</main>
<%- include('../../shared/includes/footer') %>