<article class="cart-item">
    <div class="cart-item-info">
        <h2><%= item.product.title %></h2>
        <P>$<%= item.totalPrice.toFixed(2) %> <span class="cart-product-price">($<%= item.product.price.toFixed(2) %>)</span></P>
    </div>

    <div class="cart-item-management">
<!--        When we change the number in this input and we then click update, we update this cart item.-->
        <input type="number" value="<%= item.quantity %>" required>
        <button class="btn btn-alt">Update</button>
    </div>
</article>